
h1{
  color:white;
  padding: 20px;
}

.right{
  float:right;
}
.left{
  float: left;
}
.sec-header{
  color: white;
  font-weight: lighter;
  padding-left: 120px;
  padding-bottom:20px;
}
.right-links p a{
  float:right;
  margin-right: 20px;
  color:white;
  padding-left: 10px;
  padding-bottom: 60px;
}
.red{
  color:red;
}
.second-body{
  padding-left: 20px;
  padding-right:20px;

}
.pad{
  padding-left: 60px;
}
body{
  padding:20px;
}

ul{
  font-family: times;
  color: gray;
  font-size: 120%;
}

.side-bar{
  margin-right: 10px;
  float:right;
  background-color: black;
  color:white;
  padding: 30px;
}


.organize{
  font-size: 140%;
  font-weight: bold;
  font-style: italic;

}
.regular{
  font-size: 120%;
}
